html {
    font-family: Arial, sans-serif;
    color: #C2E6FF;
    background-color: #0D1520;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 5%;
    background-color: #0D1520;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    z-index: 5;
}


.logo {
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span {
    color: #3B9EFF;
}

.navbar a {
    font-size: 1.8rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.Lien__MonCV {
    border: 0.3rem solid;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
}

.navbar a:hover,
.navbar a.active {
    color: #0090FF;
}

#menu_icon {
    font-size: 3.6rem;
    color: #3B9EFF;
    display: none;
}

section{
    min-height: 70vh;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home__content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
}

.home__content h1 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.title__hello{
    font-size: 0.7em
}

.title__CAFFINMAXIME{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    color: #3B9EFF;
}

.home__content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 62.5rem;
    margin-bottom: 2rem;
}

.btn__box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #0D1520;
    color: #C2E6FF;
    border: 0.15em solid #C2E6FF;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    background-color: #0090FF;
    color: black;
    border: 0.15em solid black;
}

.home__img{
    border-radius: 50%;
}

.home__img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
}

.secondary__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: #3B9EFF;
}

.skills__box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem
}

.skills__item{
    min-height: 20rem;scroll-behavior: smooth;
    min-width: 28rem;
    background-color: rgba(0, 0, 0, 0.488);
    border: 0.1rem solid #205D9E ;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 2rem 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.skills__item h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: #70B8FF;
}

.skills__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.skills__item h4{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    
}

.skills__item img{
    max-width: 13vh;
}

.projects__box{
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}


.projects__card{
    height: 37.5rem;
    max-width: 28rem;
    background-color: black;
    border: 0.1rem solid #205D9E;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease;
}

.projects__card:hover {
    box-shadow: 0 0 1.5rem #205D9E ,
                0 0 3rem #205D9E ;
}

.projects__card img{
    max-width: 18vh;
    object-fit: cover;
}

.projects__card h3{
    font-size: 3rem;
    color: #70B8FF;
}

.projects__card p{
    font-size: 1.3rem;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form  input,
.contact form  textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    color: #C2E6FF;
    background-color:#0D1520;
    border: 0.1rem solid #205D9E;
    border-radius: 2rem;
    margin: 1.5rem 0;
    resize: none;
    transition: border-color 0.3s ease;
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: white;
    outline: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact form .btn{
    width: 50%;
    padding: 2.5rem;
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2.5rem 0;
}

.footer .social{
    text-align: center;
    padding-bottom: 1.5rem;
}

.footer .social a{
    display: inline-block;
    margin: 0 0.6rem;
    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: #0090FF;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    transition: 0.3s ease;
}

.footer ul li a:hover{
    color: #0090FF;
}

.footer ul li {
    display: inline-block;
    padding: 0 0.9rem;
}

.footer .copyright{
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
}

@media(max-width:1810px){
    html{
        font-size: 70%;
    }
}

@media(max-width:1500px){
.skills__item img{
    max-width: 10vh;
}
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }

    .skills__wrapper{
        padding-bottom: 7rem;
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }

    .projects__box{
        grid-template-columns: 1fr;
    }

    .projects__box img{
        max-width: 13vh ;
    }

}

@media(max-width:995px){
    
    header{
        padding: 0.5rem 3%;
    }

    .navbar a {
        margin-left: 2.2rem;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .contact form{
        flex-direction: column;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){

    #menu_icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 0.5rem 3%;
        background-color: black;
        backdrop-filter: blur (20px);
        border-bottom-left-radius: 2rem ;
        border-left: 2px solid #205D9E;
        border-bottom:  2px solid #205D9E;
        display: none;
    }

    .Lien__MonCV{
        border: none;
        padding:0 0;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        gap: 3rem;
    }

    .home__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home__content h3{
        font-size: 2.6rem;
    }

    .home__content h1{
        font-size: 7.0rem;
        margin-top: 3rem;
    }

    .home__content p{
        max-width: 350px;
        margin: 0.5rem auto;
    }

    .home__img img{
        width: 56vw;
        margin: 3rem 0;
    }

    .skills__content{
        display: grid;
        grid-template-columns: 1fr
    }

    .projects__box{
        grid-template-columns: 1fr;
    }
    
}
